<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" href="./app.css" />
</head>
<body>
<button id="modal-button" >Open Modal</button>
<div id="modal-background" class="modal-background">
    <div id="modal-content" class="modal-content">
        Hello
    </div>
</div>
<hr/>
<button id="draggable-modal-button" >Open Modal</button>
<div id="draggable-modal-background" class="modal-background">
    <div id="draggable-modal-content" class="modal-content">
        Hello
    </div>
</div>
<hr />
<input type="text" id="input-date" />
<button id="calendar-button" >Calendar Modal</button>
<div id="calendar-ui">
    <div id="calendar-title"></div>
    <button id="calendar-previous">&lt;</button>
    <button id="calendar-next">&gt;</button>
    <table>
        <tr>
            <th>Sun</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
        </tr>
        <tbody id="calendar-ui-body">
        </tbody>
    </table>
</div>
<hr />

<ul id="draggable-list">
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
    <li>Four</li>
</ul>
<script src="./app.js" ></script>
</body>
</html>