<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" href="./app.css" />
</head>
<body>
<button id="modal-button" >Open Modal</button>
<div id="modal-background" class="modal-background">
    <div id="modal-content" class="modal-content">
        Hello
    </div>
</div>
<hr/>
<button id="draggable-modal-button" >Open Modal</button>
<div id="draggable-modal-background" class="modal-background">
    <div id="draggable-modal-content" class="modal-content" style="width: 300px; height: 200px;">
        <div id="draggable-modal-inner-content" style="position: relative; height: calc(100% - 30px)">
            <div style="margin: 30px auto; width: 100%;">Hello</div>
            <span id="modal-bootstrap"></span>
        </div>
    </div>
</div>
<hr />
<input type="text" id="input-date" />
<button id="calendar-button" >Calendar Modal</button>
<div id="calendar-ui">
    <div id="calendar-title"></div>
    <div id="calendar-buttons">
        <button id="calendar-previous">&lt;</button>
        <button id="calendar-next">&gt;</button>
    </div>
    <table>
        <tr>
            <th>Sun</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
        </tr>
        <tbody id="calendar-ui-body">
        </tbody>
    </table>
</div>
<hr />

<ul id="draggable-list">
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
    <li>Four</li>
</ul>

<hr />

<div id="file-drop-area">Drag Here</div>
<pre id="file-content"></pre>
<script src="./app.js" ></script>
</body>
</html>